<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="../../../../../lib/internal/Magento/Framework/ObjectManager/etc/config.xsd">
    <virtualType name="Signup\Form\Model\ResourceModel\Customer\Grid\Collection" type="Magento\Framework\View\Element\UiComponent\DataProvider\SearchResult">
        <arguments>
            <argument name="mainTable" xsi:type="string">signup_form_customer</argument>
            <argument name="resourceModel" xsi:type="string">Signup\Form\Model\ResourceModel\Customer</argument>
        </arguments>
    </virtualType>
    <type name="Magento\Framework\View\Element\UiComponent\DataProvider\CollectionFactory">
        <arguments>
            <argument name="collections" xsi:type="array">
                <item name="signup_form_customer_listing_data_source" xsi:type="string">Signup\Form\Model\ResourceModel\Customer\Grid\Collection</item>
            </argument>
        </arguments>
    </type>

</config>

